
@{
    ViewData["Title"] = "Index";

}

<head>
    <meta name="viewport" content="width=device-width" />
    <environment names="Development">
        <link href="~/lib/bootstrap/css/fontawesome-all.css" rel="stylesheet" />
        <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
        <script src="~/lib/jquery/jquery.js"></script>
        <script src="~/lib/jquery-validate/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
        <link href="~/lib/bootstrap/css/fonts.css" rel="stylesheet" />
        <script src="~/lib/bootstrap/js/bootstrapjquery.js"></script>

        <script src="~/lib/bootstrap/js/proper.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    </environment>
</head>


<body>
    <div class="row">
        <div class="col col-6">
            <div class="card">
                <div class="card-header text-center">Header</div>
                <div class="card-body">
                    BODY
                </div>
                <div class="card-footer">Footer</div>
            </div>
        </div>
        <div class="col col-6">
            <div class="card">
                <div class="card-header text-center">Header</div>
                <div class="card-body">
                    BODY
                </div>
                <div class="card-footer">Footer</div>
             
            </div>
                <button class="mdc-button mdc-button--raised mdc-button--dense mdc-ripple-upgraded" style="width:10px">ad</button>
        </div>

    </div>
</body>
